node_modules
.pnpm-store
.next
out
build
dist
apps/api/bin/
*.exe
*.test
*.out
coverage.html
.env
.env.local
.claude
.superpowers
graphify
graphify-out
docs
.turbo
.env.*.local
docker/.env
.turbo
.vscode
.idea
*.swp
*.swo
.DS_Store
.superpowers/
