PORT=8080
ENV=development
APP_NAME=komas-api

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=komas_db
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=super-secret-jwt-key-for-development-must-be-32-bytes
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
